<ng-template #startInfo>
  <br />
  <!-- <mtx-alert [type]="'info'"
             [elevation]="10"
             [dismissible]="false">
    <strong>Heads up!</strong> Please select quiz topic
  </mtx-alert> -->

  <h2 style="text-align: right">
    Please select quiz topic &nbsp;
    <mat-icon>arrow_upward</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;
  </h2>
</ng-template>

<ng-template #selectQuesion>
  <br />
  <button
    mat-raised-button
    color="accent"
    class="start-button"
    (click)="start()">
    Press this button to <strong>START</strong>
  </button>
</ng-template>

<ng-container *ngIf="currentTopic$ | async;else startInfo; let topic;">
  <topic
    [topic]="topic"
    (questionOidChanged)="onQuestionOidChanged($event)"
    [selectedQuestionOid]="selectedQuestionOid$ | async">
    <router-outlet></router-outlet>
  </topic>
  <br />
  <ng-template #buttons>
    <button
      mat-raised-button
      color="primary"
      (click)="submit(topic)">
      Submit Topic
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()">
      Submit All Topics
    </button>
  </ng-template>

  <ng-container *ngIf="currentQuestion$ | async;else selectQuesion;">
    <columns-container>
      <column grow> </column>
      <column
        [width]="400"
        hideMobile>
        <ng-container *ngTemplateOutlet="buttons"></ng-container>
      </column>
      <column
        grow
        showMobile>
        <ng-container *ngTemplateOutlet="buttons"></ng-container>
      </column>
    </columns-container>
  </ng-container>
</ng-container>

<swal
  #usernamePopup
  title="Username input"
  input="text"
  text="Enter your username to submit answers"
  [showCancelButton]="false"
  [focusCancel]="false"
  (dismiss)="handleDismiss()"
  (confirm)="emailEntered($event)">
</swal>
