@use 'angular-material-css-vars' as mat-css-vars;

@include mat-css-vars.init-material-css-vars();

.spacer{
  flex: 1 1 auto;
}

:host {
  display: block;

}

body {
  background-color: rgb(236, 236, 236) !important;
}
