@use 'angular-material-css-vars' as mat-css-vars;

@include mat-css-vars.init-material-css-vars();

@import '@ng-matero/extensions/prebuilt-themes/indigo-pink.css';
// @import "@ng-matero/extensions/prebuilt-themes/pink-bluegrey.css";

.spacer {
  flex: 1 1 auto;
}

:host {
  display: block;
}

body {
  background-color: rgb(236, 236, 236) !important;
}

.wrapper-content {
  display: block;
  padding: 10px;
}

.active-link {
  text-decoration: underline;
}
